#top { 
	background: #e3e8cc; 
	border: solid 1px black; 
	padding: 10px 0 10px 10px; 
	margin-bottom: 5px;
	font-size: 24px; 
	font-weight: bold;
} 

#menu {  
	width: 20%; 
	background: #e3e8cc; 
	border: solid 1px black; 
	float: left;  
	padding: 3px; 
} 

#content {  
	background: #e3e8cc;  
	border: solid 1px black; 
	margin-left: 21%;  
	margin-bottom: 5px;
} 

#content p{ 
	padding: 3px; 
} 

#bottom { 
	background: #e3e8cc;  
	border: solid 1px black; 
	padding: 3px; 
}