*{
	padding: 0;
	margin: 0;
}

#top { 
	background: #e3e8cc; 
	border: solid 1px black; 
	padding: 10px 0 10px 10px; 
	margin-bottom: 5px;
	font-size: 24px; 
	font-weight: bold;
} 

#col1 {  
	position: absolute;  
	width: 190px; 
	left: 0px; 
	top: 55px; 
	background: #800000; 
	padding: 5px;
} 

#col2 {  
	margin-left: 200px; 
	background: #e0e0e0; 
	padding: 5px; 
} 

#col2 p{ 
	padding: 3px; 
} 

#bottom { 
	background: #e3e8cc;  
	border: solid 1px black; 
	padding: 3px; 
}